{% extends "documentation/index.html" %}

{% block parent %}Getting Started{% endblock %}
{% block child %}Self hosting{% endblock %}

{% block main %}
<h1>Self hosting</h1>
<div class="text">
	<p>
		Using the hosted version of Cobalt works well but may not be ideal as there is a network latency along with occasional rate limiting during peak hours. To avoid these issues, you can self host Cobalt on your own server.
	</p>

	<h2>Requirements</h2>
	<p>
		Ensure that the following software has been installed on your server:
		<ul>
			<li><a href="https://nodejs.org/">Node.js</a> ^0.12.7 (<a href="https://github.com/creationix/nvm">nvm</a> recommended)</li>
			<li><a href="https://www.mongodb.org/">MongoDB</a> ^3.0.2</li>
		</ul>
	</p>

	<h2>Installation</h2>
	<p>
		Download the latest release of Cobalt from the <a href="https://github.com/cobalt-uoft/cobalt/releases" target="_blank">GitHub repository</a>.
	</p>
	<p>
		Unzip the download where you would like to keep your Cobalt source code. Open a command line and <code>cd</code> to that directory.
	</p>
	<p>
		Install the rest of Cobalt's dependencies via <code>npm</code>:
	</p>
	<p>
		<pre><code class="code-block bash">npm install</code></pre>
	</p>
	<p>
		Before you can start Cobalt, you'll need to set the following environment variables (refer to <a href="http://www.schrodinger.com/kb/1842" target="_blank">this guide</a> if you're unsure how to set new environment variables).
		<ul>
			<li><code>COBALT_PORT</code> : The port at which you would like to deploy Cobalt (ex. <code>4242</code>)</li>
			<li><code>COBALT_MONGO_URI</code> : the MongoDB connection URI used to connect to  your MongoDB database server (ex. <code>mongodb://localhost/cobalt</code>)</li>
		</ul>
	</p>
	<p>
		Ensure that you are connected to the internet when running Cobalt for the first time so that it can retrieve the latest datasets. To start your local instance:
	</p>
	<p>
		<pre><code class="code-block bash">npm start</code></pre>
	</p>
	<p>
		That's it! Cobalt should now be running on <code>localhost</code> at whichever port you specified in the <code>COBALT_PORT</code> environment variable.
	</p>

	<h2>Usage</h2>
	<p>
		You can now use Cobalt as you normally would, under the new URL that is outputted during startup. No API key is required to authenticate requests on your local server.
	</p>

	<h2>Updating</h2>
	<p>
		Updating Cobalt is as simple as downloading any new release and repeating the steps in the Installation section of this page.
	</p>
</div>
{% endblock %}
