{% extends "documentation/index.html" %}

{% block parent %}Building API{% endblock %}
{% block child %}GET buildings/show/:id{% endblock %}

{% block main %}
<h1>GET buildings/show/:id</h1>
<div class="text">
	<p>
		Returns a specific building identified by the <code>id</code> parameter.
	</p>

	<h2>URL</h2>
	<p>
		<pre><code class="code-block http">https://cobalt.qas.im/api/1.0/buildings/show/:id</code></pre>
	</p>

	<h2>Parameters</h2>
	<p>
		<div class="param grid-container">
			<div class="grid-20">
				<code>key</code>
				<div class="sub">required</div>
			</div>
			<div class="grid-80">
				Your unique API key.
			</div>
		</div>
	</p>
	<hr />
	<p>
		<div class="param grid-container">
			<div class="grid-20">
				<code>id</code>
				<div class="sub">required</div>
			</div>
			<div class="grid-80">
				The unique identifier for the building.
			</div>
		</div>
	</p>

	<h2>Example</h2>
	<p>
		<pre><code class="code-block http">https://cobalt.qas.im/api/1.0/buildings/show/005</code></pre>
	</p>
	<p>
		<pre><code class="code-block json">{
  "id":"005",
  "code":"MS",
  "name":"Medical Sciences Building",
  "short_name":"MSB",
  "campus":"UTSG",
  "lat":43.66074,
  "lng":-79.39373,
  "address":{
    "street":"1  King's College Circle",
    "city":"Toronto",
    "province":"ON",
    "country":"Canada",
    "postal":"M5S 1A8"
  }
}</code></pre>
	</p>
</div>
{% endblock %}
