{% extends "documentation/index.html" %}

{% block parent %}Course API{% endblock %}
{% block child %}GET courses/show/:id{% endblock %}

{% block main %}
<h1>GET courses/show/:id</h1>
<div class="text">
	<p>
		Returns a specific course identified by the <code>id</code> parameter.
	</p>

	<h2>URL</h2>
	<p>
		<pre><code class="code-block http">https://cobalt.qas.im/api/1.0/courses/show/:id</code></pre>
	</p>

	<h2>Parameters</h2>
	<p>
		<div class="param grid-container">
			<div class="grid-20">
				<code>key</code>
				<div class="sub">required</div>
			</div>
			<div class="grid-80">
				Your unique API key.
			</div>
		</div>
	</p>
	<hr />
	<p>
		<div class="param grid-container">
			<div class="grid-20">
				<code>id</code>
				<div class="sub">required</div>
			</div>
			<div class="grid-80">
				The unique identifier for the course.
			</div>
		</div>
	</p>

	<h2>Example</h2>
	<p>
		<pre><code class="code-block http">https://cobalt.qas.im/api/1.0/courses/show/CSC148H1F20159</code></pre>
	</p>
	<p>
		<pre><code class="code-block json">{
  "id":"CSC148H1F20159",
  "code":"CSC148H1F",
  "name":"Introduction to Computer Science",
  "description":"Abstract data types and data structures for implementing them. Linked data structures. Encapsulation and information-hiding. Object-oriented programming. Specifications. Analyzing the efficiency of programs. Recursion. This course assumes programming experience as provided by CSC108H1. Students who already have this background may consult the Computer Science Undergraduate Office for advice about skipping CSC108H1. Practical (P) sections consist of supervised work in the computing laboratory. These sections are offered when facilities are available, and attendance is required. NOTE: Students may go to their college to drop down from CSC148H1 to CSC108H1. See above for the drop down deadline.",
  "division":"Faculty of Arts and Science",
  "department":"Computer Science",
  "prerequisites":"CSC108H1/(equivalent programming experience)",
  "exclusions":"CSC150H1; you may not take this course after taking more than two CSC courses at the 200-level or higher",
  "level":100,
  "campus":"UTSG",
  "term":"2015 Fall",
  "meeting_sections":[
    {
      "code":"L0101",
      "size":156,
      "enrolment":0,
      "times":[
        {
          "day":"MONDAY",
          "start":10,
          "end":11,
          "duration":1,
          "location":"RW 110"
        },
        {
          "day":"WEDNESDAY",
          "start":10,
          "end":11,
          "duration":1,
          "location":"RW 110"
        },
        {
          "day":"FRIDAY",
          "start":10,
          "end":11,
          "duration":1,
          "location":"RW 110"
        }
      ],
      "instructors":[
        "D Liu"
      ]
    },
    {
      "code":"L0201",
      "size":156,
      "enrolment":0,
      "times":[
        {
          "day":"MONDAY",
          "start":14,
          "end":15,
          "duration":1,
          "location":"RW 117"
        },
        {
          "day":"WEDNESDAY",
          "start":14,
          "end":15,
          "duration":1,
          "location":"RW 117"
        },
        {
          "day":"FRIDAY",
          "start":14,
          "end":15,
          "duration":1,
          "location":"RW 117"
        }
      ],
      "instructors":[
        "D Liu"
      ]
    },
    {
      "code":"T0101",
      "size":108,
      "enrolment":0,
      "times":[
        {
          "day":"THURSDAY",
          "start":9,
          "end":11,
          "duration":2,
          "location":""
        }
      ],
      "instructors":[

      ]
    },
    {
      "code":"T0201",
      "size":108,
      "enrolment":0,
      "times":[
        {
          "day":"THURSDAY",
          "start":11,
          "end":13,
          "duration":2,
          "location":""
        }
      ],
      "instructors":[

      ]
    },
    {
      "code":"T5101",
      "size":72,
      "enrolment":0,
      "times":[
        {
          "day":"THURSDAY",
          "start":19,
          "end":21,
          "duration":2,
          "location":""
        }
      ],
      "instructors":[

      ]
    },
    {
      "code":"T0301",
      "size":36,
      "enrolment":0,
      "times":[
        {
          "day":"THURSDAY",
          "start":13,
          "end":15,
          "duration":2,
          "location":""
        }
      ],
      "instructors":[

      ]
    }
  ],
  "breadths":[
    5
  ]
}</code></pre>
	</p>
</div>
{% endblock %}
